<!DOCTYPE html>
<html ng-app="addressBook">
   <head>
         <title>Address Book</title>
<link rel="stylesheet" type="text/css" href="styles.css">
   </head>
   <body ng-controller="PeopleController">
      <h1>Address Book</h1>	
   <div class="wrapper"
          <div class="contact-item" ng-repeat="person in people | orderBy:'name'">
                <div class="name">{{person.name}} - {{person.phone}}</div>
                <div class="city">{{person.city}} </div>

          </div>
   </div>
   <center><button ng-click="showForm()" ng-hide="formVisibility">ADD CONTACT</button></center>	
   <div class="wrapper" ng-show="formVisibility">
	   <h2>Add a Contact</h2>
	   Name: <input type="text" ng-model="newPerson.name"></input> 
	   Phone: <input type="text" ng-model="newPerson.phone"></input>
	   City: <input type="text" ng-model="newPerson.city"></input>
	         <button ng-click="Save()">Save</button>
   </div>
   <script src= "angular.js" type="text/javascript"></script>
   <script src= "script.js" type="text/javascript"></script>
   </body>
</html>